extends ../layout

block headBlock
	title Stats: Project #{project.name}

block content
	nav(aria-label="breadcrumb")
		ol.breadcrumb
			li.breadcrumb-item
				a(href="/") Home

			li.breadcrumb-item
				a(href=`/project/${project.id}`) #{project.name}

			li.breadcrumb-item.active(aria-current="page") #{dataPointName}


	.clearfix
		.float-start
			h1.mb-3 #{dataPointName}
				small.h4.text-muted.fw-light  (#{dataPoints.length.toLocaleString()})

		.float-end
			a.btn.btn-primary(href=`/project/${project.id}/${dataPointName}/raw`) Raw Data
	hr

	.card.mb-4
		.card-body
			- var timespans = [ "15m", "1h", "24h", "3d", "7d", "30d" ];
			span.btn-group.me-3(role="group")
				each timespanX in timespans
					a.btn(href=`/project/${project.id}/${dataPointName}/${timespanX}`, class=(timespan == timespanX ? "btn-primary" : "btn-light")) #{timespanX}


			span.dropdown
				button.btn.btn-primary.dropdown-toggle(type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Tools
				.dropdown-menu(aria-labelledby="dropdownMenuButton")
					a.dropdown-item(href=`/project/${project.id}/delete-data-points/${dataPointName}`) Delete Data Points...

	if (dataPoints.length == 0)
		h5.text-muted No data

	if (dataPoints.length > 0 && summary)
		.card.mb-4
			.card-body.pb-0
				table.table
					thead.thead-dark
						tr
							if (summary.hasOwnProperty("min"))
								th Min
							if (summary.hasOwnProperty("max"))
								th Max
							if (summary.hasOwnProperty("sum"))
								th Sum
							if (summary.hasOwnProperty("count"))
								th Count

					tbody
						tr.text-monospace
							if (summary.hasOwnProperty("min"))
								td #{summary.min.toLocaleString()}
							if (summary.hasOwnProperty("max"))
								td #{summary.max.toLocaleString()}
							if (summary.hasOwnProperty("sum"))
								td #{summary.sum.toLocaleString()}
							if (summary.hasOwnProperty("count"))
								td #{summary.count.toLocaleString()}

				if (false)
					pre
						code.json #{JSON.stringify(summary, null, 4)}

	if (data.min || data.max || data.avg || data.val)
		.mb-5
			canvas(id="chart1")

	if (data.min)
		.mb-5
			canvas(id="chartMin")

	if (data.avg)
		.mb-5
			canvas(id="chartAvg")

	if (data.max)
		.mb-5
			canvas(id="chartMax")

	if (data.count)
		.mb-5
			canvas(id="chartCount")

	if (data.sum)
		.mb-5
			canvas(id="chartSum")

	if (false)
		.card
			.card-body.pb-0
				table.table.table-sm.table-striped
					each dataPoint, dpIndex in dataPoints
						tr
							th.text-right
								small.font-weight-bold #{(dpIndex + 1).toLocaleString()}
							- delete dataPoint._id;
							- delete dataPoint.projectId;
							- delete dataPoint.name;

							td
								small.text-monospace.text-wrap #{JSON.stringify(dataPoint)}

block afterSharedScripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
	script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js")
	script(src="/js/chartUtils.js")

block afterInlineScript
	script.
		var datasets1 = [];
		var datasets1Names = [];
		
		var datasetsMin = [];
		var datasetsAvg = [];
		var datasetsMax = [];
		var datasetsSum = [];
		var datasetsCount = [];

		var color = Chart.helpers.color;

	script.
		function makeChart(elementId, datasets, verticalAxisTitle) {
			var ctx = document.getElementById(elementId).getContext('2d');
			ctx.canvas.width = 1000;
			ctx.canvas.height = 300;

			var color = Chart.helpers.color;
			var cfg = {
				data: {
					datasets: datasets
				},
				options: {
					animation: {
						duration: 0
					},
					scales: {
						xAxes: [{
							type: 'time',
							distribution: 'series',
							offset: true,
							ticks: {
								major: {
									enabled: true,
									fontStyle: 'bold'
								},
								source: 'data',
								autoSkip: true,
								autoSkipPadding: 75,
								maxRotation: 0,
								sampleSize: 100
							},
							afterBuildTicks: function(scale, ticks) {
								var majorUnit = scale._majorUnit;
								var firstTick = ticks[0];
								var i, ilen, val, tick, currMajor, lastMajor;

								val = moment(ticks[0].value);
								if ((majorUnit === 'minute' && val.second() === 0)
										|| (majorUnit === 'hour' && val.minute() === 0)
										|| (majorUnit === 'day' && val.hour() === 9)
										|| (majorUnit === 'month' && val.date() <= 3 && val.isoWeekday() === 1)
										|| (majorUnit === 'year' && val.month() === 0)) {
									firstTick.major = true;
								} else {
									firstTick.major = false;
								}
								lastMajor = val.get(majorUnit);

								for (i = 1, ilen = ticks.length; i < ilen; i++) {
									tick = ticks[i];
									val = moment(tick.value);
									currMajor = val.get(majorUnit);
									tick.major = currMajor !== lastMajor;
									lastMajor = currMajor;
								}
								return ticks;
							}
						}],
						yAxes: [{
							gridLines: {
								drawBorder: false
							},
							scaleLabel: {
								display: true,
								labelString: verticalAxisTitle
							}
						}]
					},
					tooltips: {
						intersect: false,
						mode: 'index',
						callbacks: {
							label: function(tooltipItem, myData) {
								var label = myData.datasets[tooltipItem.datasetIndex].label || '';
								if (label) {
									label += ': ';
								}
								label += parseFloat(tooltipItem.value).toFixed(2);
								return label;
							}
						}
					}
				}
			};

			var chart = new Chart(ctx, cfg);
		}

	if (data.min)
		script.
			var dataMin = !{JSON.stringify(data.min)};
			datasets1Names.push("min");
			datasets1.push({
				label: 'min',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				data: dataMin,
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			});

			datasetsMin.push({
				label: 'min',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				data: dataMin,
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			});

	if (data.max)
		script.
			var dataMax = !{JSON.stringify(data.max)};
			datasets1Names.push("max");
			datasets1.push({
				label: 'max',
				backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
				borderColor: window.chartColors.green,
				data: dataMax,
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			});

			datasetsMax.push({
				label: 'max',
				backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
				borderColor: window.chartColors.green,
				data: dataMax,
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			});

	if (data.avg)
		script.
			var dataAvg = !{JSON.stringify(data.avg)};
			datasets1Names.push("avg");
			datasets1.push({
				label: 'avg',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				data: dataAvg,
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			});

			datasetsAvg.push({
				label: 'avg',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				data: dataAvg,
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			});

	if (data.val)
		script.
			var dataVal = !{JSON.stringify(data.val)};
			datasets1Names.push("val");
			datasets1.push({
				label: 'val',
				backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
				borderColor: window.chartColors.yellow,
				data: dataVal,
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			});

	if (data.count)
		script.
			var dataCount = !{JSON.stringify(data.count)};
			datasetsCount.push({
				label: 'count',
				backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
				borderColor: window.chartColors.orange,
				data: dataCount,
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			});

	if (data.sum)
		script.
			var dataSum = !{JSON.stringify(data.sum)};
			datasetsSum.push({
				label: 'sum',
				backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
				borderColor: window.chartColors.purple,
				data: dataSum,
				type: 'line',
				pointRadius: 0,
				fill: false,
				lineTension: 0,
				borderWidth: 2
			});

	if (data.min || data.max || data.avg || data.val)
		script.
			makeChart("chart1", datasets1, datasets1Names.join(", "));

	if (data.min)
		script.
			makeChart("chartMin", datasetsMin, "min");

	if (data.avg)
		script.
			makeChart("chartAvg", datasetsAvg, "avg");

	if (data.max)
		script.
			makeChart("chartMax", datasetsMax, "max");

	if (data.sum)
		script.
			makeChart("chartSum", datasetsSum, "sum");

	if (data.count)
		script.
			makeChart("chartCount", datasetsCount, "count");